# -----------------------
# IntelliJ IDEA
# -----------------------
.idea/
*.iml
out/

# -----------------------
# Java / Maven
# -----------------------
target/
*.class
*.log

# -----------------------
# OS-specific
# -----------------------
.DS_Store
Thumbs.db

allure-results/
allure-report/
build/
.allure/
